<p id="notice"><%= notice %></p>
   <div class="text-links-title-all">
           <span class="text-links-page-title">
            ALL YOUR LINKS ARE BELONG TO US
          </span>

<table>
  <% @links.each do |link| %>
    <tr>
      <td>
        USER: <span class="text-links-user"><%= link.user.name.capitalize %></span>
      </td>
    </tr>
    <tr>
      <td>
        TITLE: <span class="text-links-title"><%= link.title %></span>
      </td>
    </tr>
    <tr>
      <td>
        POST: <span class="text-links-body">
        <%= link.body %><br><br></td>
    </tr>
  <tbody>
    <% end %>
  </tbody>
</table>
<br>
  </div>
