  <div class="hero">
     <section class="plans">

<!-- MAIN BOARD -->
     <div class="content_window_main">

      <div class="content_window_main_table">
        <br/>
        <span class="plan-name">xxxxxxxxxxxxx</span>
        <span class="plan-price">MAIN BOARD GOES HERE</span>
        <span class="plan-per-month-box">xxxxxxxxxxxx</span>
      </div>

      <div class="plan-nav-item">
        xxxxxxxxxx
      </div>

      <div class="plan-choose-button-box">
        <div class="plan-choose-button-inner">
          xxxxxx
        </div>
      </div>

    </div>
<!-- MAIN BOARD -->

    <!-- USER PANEL -->

    <div class="content_window_user">

      <div class="content_window_user_table">
        <span class="plan-name">USER PANEL GOES HERE</span>
        <span class="plan-per-month-box">xxxxxxx</span>
      </div>

      <div class="plan-choose-button-box">
        <div class="plan-choose-button-inner">xxxxxxxx</div>
      </div>
    </div>
  </section>
  </div>

  <!-- END USER PANEL -->
