
    <!-- MAIN BOARD -->
     <div class="links-window-outer">

      <div class="links-window-inner">
        <br/>

        <span class="text-links-page-title">
       ALL YOUR LINKS ARE BELONG TO US
       <br/>
       <br/>
        </span>

    <div class="text-links-title">
<% @links.each do |link| %>
    <li> <%= link_to link.title %> </li>
<br/>
  <% end %>

  </div>

      </div>
    </div>
<!-- MAIN BOARD-->

<!-- USER PANEL -->
    <div class="user-window-outer">

          <div class="user-window-inner">
            <span class="text-user-title">USER LOGIN HERE</span>
             <span class="text-user-window">Text</span>
          </div>

        <!-- USER NAV -->

          <div class="user-action-casing">
           PUT TEXT FIELD HERE



            <div class="user-action-button">
              SUBMIT LINK
            </div>
          </div>


          <div class="user-action-casing">

               PUT TEXT FIELD HERE

            <div class="user-action-button">
              SUBMIT TEXT
            </div>
          </div>

        <div class="user-action-casing">
          <div class="user-action-button">
            xxxxxx
          </div>
        </div>
        <!-- USER NAV -->
      </div>
  <!-- END USER PANEL -->
