
    <!-- MAIN BOARD -->
     <div class="links-window-outer">

      <div class="links-window-inner">
        <br/>

        <!-- <span class="plan-name">xxxxxxxxxxxxx</span> -->

        <span class="links-page-title">
       ALL YOUR LINKS ARE BELONG TO US
       <br/>
       <br/>
        </span>

    <div class="links-title">
<% @links.each do |link| %>
    <li> <%= link_to link.title %> </li>
<br/>
  <% end %>

  </div>

      </div>
    </div>
<!-- MAIN BOARD-->

<!-- USER PANEL -->
    <div class="user-window-outer">

          <div class="user-window-inner">
            <span class="user-login-title">USER LOGIN HERE</span>
             <span class="user-window-text">Text</span>
          </div>

        <!-- USER NAV -->

          <div class="plan-choose-button-box">
           PUT TEXT FIELD HERE
            <div class="plan-choose-button-inner">
              SUBMIT LINK
            </div>
          </div>


          <div class="plan-choose-button-box">
               PUT TEXT FIELD HERE
            <div class="plan-choose-button-inner">
              SUBMIT TEXT
            </div>
          </div>

        <div class="plan-choose-button-box">
          <div class="plan-choose-button-inner">
            xxxxxx
          </div>
        </div>
        <!-- USER NAV -->
      </div>
  <!-- END USER PANEL -->
