
    <!-- MAIN BOARD -->

      <div class="links-panel">

          <div class="text-links-page-title">
            ALL YOUR LINKS ARE BELONG TO US
          </div>

          <div class="text-links-title">
              <% @links.each do |link| %>
              <li><%= link_to link.title %></li>
              <% end %>
          </div>

      </div>
<!-- MAIN BOARD-->

<!-- USER PANEL -->
    <div class="user-window-outer">

          <div class="user-window-inner">
            <span class="text-user-title">USER LOGIN HERE</span>
             <span class="text-user-window">Text</span>
          </div>

        <!-- USER NAV -->

          <div class="user-action-casing">
            <div class="text-submission">
              POST A LINK HERE
              <%= render "links/form_link" %>
            </div>
          </div>

          <div class="user-action-casing">
            <div class="text-submission">
              POST A LINK HERE
              <%= render "links/form_link" %>
            </div>
          </div>

         <div class="user-action-casing">
            <div class="text-submission">
              GET AN ACCOUNT HERE
              <%= render "links/form_link" %>
            </div>
          </div>
        </div>
        <!-- USER NAV -->
    </div>
  <!-- END USER PANEL -->
