
    <!-- MAIN BOARD -->

      <!-- <div class="links-panel"> -->

          <div class="text-links-title">
           <span class="text-links-page-title">
            ALL YOUR LINKS ARE BELONG TO US
          </span>
             <% @links.each do |link| %> <li>
             <%= link_to link.title, link_path(link.id) %>
              <% end %></li>
          </div>

<!-- , links_show_path(link_id) -->

      </div>
<!-- MAIN BOARD-->

<!-- USER PANEL -->
    <div class="user-window-outer">

          <div class="user-window-inner">
            <span class="text-user-title">USER LOGIN HERE</span>
            <br>
             <span class="text-user-window">Text</span>
          </div>

        <!-- USER NAV -->

          <div class="user-action-casing">
            <div class="text-form-title">
              POST A LINK HERE
              <%= render "links/form_link" %>
            </div>
          </div>

          <div class="user-action-casing">
            <div class="text-form-title">
              POST TEXT HERE
              <%= render "links/form_link" %>
            </div>
          </div>


            <span class="text-form-title">
             <br>GET AN ACCOUNT </span>

              <div class="text-form">
              <%= render "users/form" %>
            </div>

        </div>
        <!-- USER NAV -->
    <!-- </div> -->
  <!-- END USER PANEL -->
