body {
  background: white;
  height: 100%;
  }

header {
  background-color: white;
  height: 35px;
  color: #777777;
  font-family: Helvetica;
  font-size: 18px;
  margin: 10px 20px;
}

footer {
  height: 20px;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
  color: #666666;
  line-height: 1.7;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header-box {
  background-color: white;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #cccccc;
  width: 100%;
}

// TEXT STYLES BELOW

a:link {
    color: #333333;
}
a:visited {
    color: #333333;
}
a:hover {
    background-color: white;
}
a:active {
    color: black;
}

.text-links-page-title {
  color: white;
  font-family: Verdana;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.text-links-title-all {
  color: darkgreen;
  font-family: Verdana;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 70%;
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  background-image: url("cardboard.jpg");
  padding: 20px;
  border: 1px solid #cccccc;
}

.text-links-user {
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: normal;
}

.text-links-title {
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.text-links-body {
    color: black;
    font-family: Verdana;
    font-weight: normal;
  }

  .text-user-title {
  color: white;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 600;
}

.text-user-window{
  color: white;
  font-family: Verdana;
  font-size: 16px;
}

.text-form-title{
  color: #666666;
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-form{
  color: #666666;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

// TEXT STYLES ABOVE

.user-window-outer {
  width: 25.3%;
  margin-top: 1px;
  float: left;
  color: #333333;
  background-color: white;
}

.user-window-inner {
  background-color: darkgreen;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  border: 1px solid #cccccc;
  }

.user-action-casing {
  background-color: #eeeeee;
  font-family: Verdana;
  border: 1px solid #cccccc;
  font-size: 13px;
  color: #555555;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.user-action-button {
  border: 2px solid #666666;
  border-radius: 25px;
  width: 100px;
  height: 20px;
  padding-top: 5px;
}

