body {
  background: white; }

.top-nav-box {
  background-color: white;
  height: 35px;
  overflow: hidden; }

.nav-logo {
  color: #999999;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  float: left;
  background-color: white;
  margin: 10px 20px; }

.nav-home {
  color: #777777;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  float: left;
  margin: 10px 20px; }

.nav-pricing {
  color: #555555;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  float: left;
  margin: 10px 20px; }

.nav-contact {
  color: #777777;
  font-family: Helvetica;
  font-size: 18px;
  text-align: left;
  float: left;
  margin: 10px 20px; }

.hero {
  background-image: url(../images/background.jpg);
  height: 200px;
  padding-top: 100px; }

.hero-text {
  font-size: 36px;
  font-family: Helvetica;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #333333; }

.plans {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px; }

.plan-option-parent {
  margin: 10px; }

.plan-personal {
  background-color: #428240;
  height: 195px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  border: 1px solid #999999; }

.plan-small-biz {
  background-color: #223672;
  height: 195px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  border: 1px solid #999999; }

.plan-enterprise {
  background-color: #000000;
  height: 195px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  border: 1px solid #999999; }

.plan-name {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3px;
  opacity: .9; }

.plan-price {
  color: white;
  font-family: Helvetica;
  font-size: 90px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter; }

.plan-per-month-box {
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .7;
  font-weight: 600; }

.plan-nav-item {
  color: #555555;
  background-color: #eeeeee;
  font-family: Helvetica;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  padding-top: 15px;
  text-align: center; }

.plan-choose-button-box {
  color: #555555;
  background-color: #ffffff;
  font-family: Helvetica;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.plan-choose-button-inner {
  border: 2px solid #666666;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px; }

.copy-parent {
  background-color: white; }

.copy-box {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7; }

.copy-title {
  font-family: Helvetica;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1; }

.copy-text {
  font-family: Helvetica;
  font-size: 16px;
  color: #666666; }

.footer {
  height: 60px;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
  color: #666666;
  line-height: 1.7;
  padding: 20px;
  text-align: center; }

.link {
  color: #cccccc;
  text-decoration: underline; }

@media (min-width: 479px) {
  .hero {
    height: 100px;
    padding-top: 150px;
    padding-bottom: 150px; } }
@media (min-width: 767px) {
  .hero {
    height: 100px;
    padding-top: 150px;
    padding-bottom: 150px; }

  .plans {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden; }

  .plan-option-parent {
    width: 30.6%;
    float: left; }

  .plan-personal {
    background-color: #428240;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-small-biz {
    background-color: #223672;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-enterprise {
    background-color: #000000;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-name {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    display: block;
    letter-spacing: 3px;
    opacity: .9; }

  .plan-price {
    color: white;
    font-family: Helvetica;
    font-size: 90px;
    text-align: center;
    display: block;
    font-weight: lighter; }

  .plan-per-month-box {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    display: block;
    opacity: .7;
    font-weight: 600; }

  .plan-nav-item {
    color: #555555;
    background-color: #eeeeee;
    font-family: Helvetica;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
    width: 100%;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    float: left; }

  .plan-choose-button-box {
    color: #555555;
    background-color: #ffffff;
    font-family: Helvetica;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left; }

  .plan-choose-button-inner {
    border: 2px solid #666666;
    border-radius: 25px;
    width: 100px;
    padding-top: 5px; }

  .copy-parent {
    background-color: white;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px; }

  .copy-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    float: left;
    width: 44%;
    line-height: 1.7; }

  .copy-title {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1;
    width: 100%; }

  .copy-text {
    font-family: Helvetica;
    font-size: 16px;
    color: #666666;
    width: 100%; }

  .footer {
    height: 60px;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    color: #666666;
    line-height: 1.7;
    padding: 20px;
    text-align: center;
    float: left;
    width: 100%; } }
@media (min-width: 979px) {
  .hero {
    height: 100px;
    padding-top: 150px;
    padding-bottom: 150px; }

  .plans {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; }

  .plan-option-parent {
    width: 30.6%;
    float: left; }

  .plan-personal {
    background-color: #428240;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-small-biz {
    background-color: #223672;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-enterprise {
    background-color: #000000;
    height: 195px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #999999;
    float: left; }

  .plan-name {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    display: block;
    letter-spacing: 3px;
    opacity: .9; }

  .plan-price {
    color: white;
    font-family: Helvetica;
    font-size: 90px;
    text-align: center;
    display: block;
    font-weight: lighter; }

  .plan-per-month-box {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    display: block;
    opacity: .7;
    font-weight: 600; }

  .plan-nav-item {
    color: #555555;
    background-color: #eeeeee;
    font-family: Helvetica;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
    width: 100%;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    float: left; }

  .plan-choose-button-box {
    color: #555555;
    background-color: #ffffff;
    font-family: Helvetica;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left; }

  .plan-choose-button-inner {
    border: 2px solid #666666;
    border-radius: 25px;
    width: 100px;
    padding-top: 5px; }

  .copy-parent {
    background-color: white;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; }

  .copy-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    float: left;
    width: 44%;
    line-height: 1.7; }

  .copy-title {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1;
    width: 100%; }

  .copy-text {
    font-family: Helvetica;
    font-size: 16px;
    color: #666666;
    width: 100%; }

  .footer {
    height: 60px;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    color: #666666;
    line-height: 1.7;
    padding: 20px;
    text-align: center;
    float: left;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
