<section class="header">

<div class="top-nav-box">
  <nav>
    <div class="nav-home">
    | <a href="/">HOME</a> | <a href="/boards/">SIGN UP</a> | <a href="/">LOGIN</a> | <a href="/posts/new">POST A NEW LINK</a> |
    </div>
  </nav>
</div>

</section>
